* {
  box-sizing: border-box; 
 }
 body {
   margin: 0;
 }
 #main {
   display: flex;
   min-height: calc(95vh);
 }
 #main > article {
   flex: 1;
 }
 #main > aside {
   flex: 0 0 20vw;
   background: RGB(250,250,250);
   border-left-style: solid;
   border-left-width: 1px;
   border-color: #bdbdbd;
 }

 footer, article {
   padding: 1em;
 }

 footer {
   background: #EE4F2B;
   height: 5vh;
   display: flex;
   justify-content: space-between;
   text-decoration: none;
   color: white;
   text-align: right;
 }

 .footer a {
  text-decoration: none;
  color: white;
  text-align: right;
}

.stepchik {
  width: 25px;
  height: 25px;
  text-align: center;
  background: white;
  border: 2px solid orange;
  border-radius: 50px;
}

.stepper {
  flex-direction: column;
  display: flex;
  padding: 24px;
}