* {
  box-sizing: border-box; 
 }
 body {
   margin: 0;
 }
 #main {
   display: flex;
   min-height: calc(95vh);
 }
 #main > article {
   flex: 1;
 }
 #main > aside {
   flex: 0 0 20vw;
   background: RGB(250,250,250);
   border-left-style: solid;
   border-left-width: 1px;
   border-color: #bdbdbd;
 }

 footer, article {
   padding: 1em;
 }

 footer {
   background: #EE4F2B;
   height: 5vh;
   display: flex;
   justify-content: space-between;
   text-decoration: none;
   color: white;
   text-align: right;
 }

 .footer a {
  text-decoration: none;
  color: white;
  text-align: right;
}

.stepper {
  flex-direction: column;
  display: flex;
  margin-left: 24px;
}

.stepContainer{
  display: flex;
  align-items: center;
}

.stepNumber {
  width: 30px;
  height: 30px;
  text-align: center;
  background: white;
  border: 1px solid #EE4F2B;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.54);
  line-height: 25px;
}

.stepLabel {
  padding-left: 8px;
  color: rgba(0, 0, 0, 0.54);
  font-family: "Verdana", sans-serif;
}

.stepActive {
  line-height: 25px;
  color: #EE4F2B;
  font-weight: bold;
  font-family: "Verdana", sans-serif;
}

.stepBorderLine {
  margin-left: 14px;
  min-height: 24px;
  border-left-style: solid;
  border-left-width: 1px;
  display: block;
  border-color: #bdbdbd;
}